{% extends "base.html" %}

{% block main %}
<div class="bicho">
    <img src="{{ url_for("static", filename="images/no2.png") }} " width="300px"><br>
    ¿...?
</div>

    <div class="compatibilidad">
        <img src="{{ url_for("static", filename="images/inter1.png") }}" width="250px"><br>
        <img src="{{ url_for("static", filename="images/inter1.png") }}" width="250px">
        <p>Compatibilidad</p>

    </div>

{% endblock %}


<!-- bloque footer -->
{% block footer %}
{{ super() }}

    <form action="/rata" method="post">
        <label for="">年纪 Año de nacimiento</label><br>
        <input name="campoAnyo" type="text" size="8" placeholder="Escribe aqui"/>
        <input name="enviar"    type="submit"  value="Enviar"/>

    </form>
<!--
<div class="formulario">
 <form action="/rata" method="post">
     {{ datos["templateFormulario"]["campoAnyo"](class="form-control", placeholder="Escribe aqui")}}
     {{ datos["templateFormulario"]["enviar"](class="btn btn-default btn-register")}}

</form>

</div>
-->

{% endblock %}